body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: burlywood;
}

.form {
  background-color: coral;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
  border-radius: 5px;
  margin: 10px;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  border: solid 4px purple;
  color: purple;
}

.input::placeholder {
  color: lightgray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
  background-color: purple;
  color: antiquewhite;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.btn:hover {
  filter: brightness(.9);
}

.score {
  color: purple;
  text-align: right;
}